/* general */
/*html, body {*/
/*    margin: 0;*/
/*    height: 100vh;*/
/*}*/

body {
    background-image: url("piano1.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*font-family: 'Charm', cursive;*/
    /*font-family: 'Kavivanar', cursive;*/
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Poiret One', cursive;
    /*font-family: 'Pompiere', cursive;*/
    font-weight: bold;
    /*position: relative;*/
}

hr {
    border-top: 2px double white;
}

/* navigation */
nav {
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 2em;
}

/* headings */
.mainHeading {
    font-size: 5em;
    font-weight: bold;
    /*margin: 1em;*/
    text-shadow: 1px 2px 3px black;
}

.subHeading {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 2px 3px black;
}

.minorHeading {
    font-size: 1.5em;
    font-weight: bold;
}

/* buttons */
.button {
    font-size: 2em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

/* text boxes */
.textBox {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2em;
    box-shadow: 2px 3px 4px black;
    color: white;
    margin: auto;
    margin-bottom: 2em;
    padding: 2em;
}

p {
    font-size: 1.5em;
    font-weight: bold;
}

#hiddenDiv, #hiddenAdd, .hiddenDelete {
    display: none;
}

#youTubeContainer {
    width: 90%;
}

/* forms */
.formBox {
    width: 50%;
}

.writerBox {
    width: 80%;
}

label {
    font-size: 1.5em;
    font-weight: bold
}

.form-text, .text-muted {
    color: aliceblue !important;
    font-size: 1em;
}

.loginTd {
    color: white;
}

.ck.ck-editor__main>.ck-editor__editable {
    color: black;
}

.studioTitleOption {
    background-color: #474a4a;
    color: white;
}

select, option, input {
    font-weight: bold;
}

/* tables */
td {
    color: black;
}

/* accordions */
.accordionLink {
    color: white;
    font-size: 1em;
    font-weight: bold;
    transition-duration: .3s;
    transition-property: all;
}

.accordionLink:hover, .btn-link:focus {
    color: antiquewhite;
    text-shadow: 1px 2px 2px black;
}

/* cards */
.card {
    font-size: 1em;
    padding: 1.5em;
}

.card-header {
    padding: 0.5em;
}

/* index */
.homepageBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indexHeading {
    margin-bottom: 2em;
}



