<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Practice Hacker</display-name>

  <!-- Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <!-- Authorize the initial user login -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>LoginAction</web-resource-name>
      <url-pattern>/dashboard</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Protect the Servlets! -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>CloseStudioAction</web-resource-name>
      <url-pattern>/closeStudio</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>CreateStudioAction</web-resource-name>
      <url-pattern>/createStudio</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DeletePracticeHack</web-resource-name>
      <url-pattern>/deletePracticeHack</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DeleteProfileAction</web-resource-name>
      <url-pattern>/deleteAccount</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>EditPracticeHack</web-resource-name>
      <url-pattern>/editPracticeHack</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>EditProfileAction</web-resource-name>
      <url-pattern>/editProfile</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JoinStudioAction</web-resource-name>
      <url-pattern>/joinStudio</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>LeaveStudioAction</web-resource-name>
      <url-pattern>/leaveStudio</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Logout</web-resource-name>
      <url-pattern>/logout</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>PracticeHackDisplay</web-resource-name>
      <url-pattern>/practiceHacks</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RetrievePracticeHack</web-resource-name>
      <url-pattern>/getPracticeHack</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>StudentLogDisplay</web-resource-name>
      <url-pattern>/viewStudentLogs</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>StudioInfoDisplay</web-resource-name>
      <url-pattern>/studioInfo</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>StudioSearchAction</web-resource-name>
      <url-pattern>/studioSearch</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>UserDataDisplay</web-resource-name>
      <url-pattern>/viewProfile</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WriteLogAction</web-resource-name>
      <url-pattern>/writeLog</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WritePracticeHack</web-resource-name>
      <url-pattern>/writePracticeHack</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>YouTubeSearch</web-resource-name>
      <url-pattern>/youTubeSearch</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Protect the JSPs! -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>confirmDelete</web-resource-name>
      <url-pattern>/confirmDelete.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>confirmLogout</web-resource-name>
      <url-pattern>/confirmLogout.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>goodbye</web-resource-name>
      <url-pattern>/goodbye.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>logWriter</web-resource-name>
      <url-pattern>/logWriter.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>metronome</web-resource-name>
      <url-pattern>/metronome.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>practiceHackWriter</web-resource-name>
      <url-pattern>/practiceHackWriter.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>profile</web-resource-name>
      <url-pattern>/profile.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>studioInfo</web-resource-name>
      <url-pattern>/studioInfo.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>teacherAdmin</web-resource-name>
      <url-pattern>/teacherAdmin.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewMyLog</web-resource-name>
      <url-pattern>/viewMyLog.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewPracticeHacks</web-resource-name>
      <url-pattern>/viewPracticeHacks.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewStudentLogs</web-resource-name>
      <url-pattern>/viewStudentLogs.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>youTubeSearch</web-resource-name>
      <url-pattern>/youTubeSearch.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
      <role-name>practiceHacker</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- All Security Role Names -->
  <security-role>
    <role-name>student</role-name>
  </security-role>

  <security-role>
    <role-name>teacher</role-name>
  </security-role>

  <security-role>
    <role-name>practiceHacker</role-name>
  </security-role>

  <!-- Error Handling -->
<!--  <error-page>-->
<!--    <error-code>403</error-code>-->
<!--    <location>/403Error.jsp</location>-->
<!--  </error-page>-->
<!--  <error-page>-->
<!--    <error-code>404</error-code>-->
<!--    <location>/404Error.jsp</location>-->
<!--  </error-page>-->
<!--  <error-page>-->
<!--    <error-code>500</error-code>-->
<!--    <location>/500Error.jsp</location>-->
<!--  </error-page>-->

</web-app>
